<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook feed</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.css">
    <link rel="stylesheet" href="css/app.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  </head>
  <body>
    <div id="page">

  <div id="wall" class="facebookWall"></div>

</div>

<!-- jQuery templates. Not rendered by the browser. Notice the type attributes -->

<script id="headingTpl" type="text/x-jquery-tmpl">
<h1>${name}</h1>
</script>

<script id="feedTpl" type="text/x-jquery-tmpl">
<li>
  <img src="${from.picture}" class="avatar" />
  
  <div class="status">
    <h2><a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">${from.name}</a></h2>
    <p class="message">{{html message}}</p>
    {{if type == "link" }}
      <div class="attachment">
        {{if picture}}
          <img class="picture" src="${picture}" />
        {{/if}}
        <div class="attachment-data">
          <p class="name"><a href="${link}" target="_blank">${name}</a></p>
          <p class="caption">${caption}</p>
          <p class="description">${description}</p>
        </div>
      </div>
    {{/if}}
  </div>
  
  <p class="meta">${created_time} · 
  {{if comments}}
    ${comments.count} Comment{{if comments.count>1}}s{{/if}}
  {{else}}
    0 Comments
  {{/if}} · 
  {{if likes}}
    ${likes.count} Like{{if likes.count>1}}s{{/if}}
  {{else}}
    0 Likes
  {{/if}}
  </p>
  
</li>
</script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
